.body {
    background-image: url(img/cyber4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.biodata {
    font-family: cursive;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.table1 {
    text-shadow: 0 0 5px red, 0 0 10px blue;
    font-family: cursive;
    font-size: 14px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}


    

.img1 {
    width: 150px;
    height: 200px;
    border: 6px double #483C32;
    box-shadow: 0 0 0 50px rgba(244, 240, 236, 0.4) inset, 0 0 0 5px rgb(180, 130, 90), 0 0 3px rgba(0, 0, 0, 0.8) inset;
    outline: 2px solid #333;
    outline-offset: 0px;
}

.img2 {
    width: 150px;
    height: 80px;
}

a:link {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-family: cursive;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
a:visited {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-family: cursive;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.hh1 {
    margin-top: 180px;
    margin-bottom: 0px;
    font-size: 28px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 0 0 5px red, 0 0 10px blue;
}
